.centrar_imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 400px;
}

*{
    list-style-type: none;
}


.glyphicon { margin-right:10px; }
.panel-body { padding:0; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0; }

.sidenav {
    color: white;
    margin-top: 52px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282828;
    overflow-x: hidden;
    padding-top: 20px;
}



.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}